<!DOCTYPE html>
<html>
<head>
    <title>PDF Merger</title>
</head>
<body>
    <h1>PDF Merger</h1>
    <form action="/merge" method="post" enctype="multipart/form-data">
        <label for="pdfs">Select PDFs:</label>
        <input type="file" name="pdfs" id="pdfs" accept="application/pdf" multiple required>
        <br>
        <button type="submit">Merge PDFs</button>
    </form>
    <a href="https://px.a8.net/svt/ejp?a8mat=2ZL5EP+1WGW4A+0K+10A5LT" rel="nofollow">
        <img border="0" width="234" height="60" alt="" src="https://www22.a8.net/svt/bgt?aid=180705697115&wid=002&eno=01&mid=s00000000002006094000&mc=1"></a>
        <img border="0" width="1" height="1" src="https://www19.a8.net/0.gif?a8mat=2ZL5EP+1WGW4A+0K+10A5LT" alt="">

    <a href="https://px.a8.net/svt/ejp?a8mat=4519B8+ASS3KQ+4EKC+631SX" rel="nofollow">
        <img border="0" width="600" height="100" alt="" src="https://www22.a8.net/svt/bgt?aid=250321508653&wid=002&eno=01&mid=s00000020550001022000&mc=1"></a>
        <img border="0" width="1" height="1" src="https://www10.a8.net/0.gif?a8mat=4519B8+ASS3KQ+4EKC+631SX" alt="">
    <a href="https://px.a8.net/svt/ejp?a8mat=4519B8+BJKLSQ+14CS+6C9LD" rel="nofollow">
        <img border="0" width="120" height="60" alt="" src="https://www24.a8.net/svt/bgt?aid=250321508698&wid=002&eno=01&mid=s00000005230001065000&mc=1"></a>
        <img border="0" width="1" height="1" src="https://www14.a8.net/0.gif?a8mat=4519B8+BJKLSQ+14CS+6C9LD" alt="">
    <a href="https://px.a8.net/svt/ejp?a8mat=4519B8+BK61EI+5LNQ+5YJRM" rel="nofollow">メルカリ</a>
    <img border="0" width="1" height="1" src="https://www11.a8.net/0.gif?a8mat=4519B8+BK61EI+5LNQ+5YJRM" alt="">
</body>
</html>
